* {
	box-sizing: border-box;
}
.main {
	width:75%;
	margin:auto;
	border-radius: 10px;
	background-color: rgba(252, 252, 233, .5);
	border: 25px solid rgba(144, 41, 72, 1);
}
.js-search-form {
	border: 2px solid white;
	border-radius: 10px;
	width: 75%;
	text-align: center;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 15px;
	color: rgb(252, 252, 233);
	background-color: rgba(144, 12, 63, 1);
	font-family: 'Indie Flower', cursive;
 
}
input {
	width: 75%;

}
.js-keyword,
.js-location,
.js-radius,
.js-button {
	margin: 7px;
}
.js-results {
	width:75%;
	background-color: white;
	margin:auto;
	border: 2px solid white;


}
.col-md-2 {
	display: inline-block;
	padding: 5px 5px 5px 5px;
	background-color: lightgrey;
	border: 1px solid grey;
	
}
.deal {
	border: 2px solid black;
	margin-bottom: 3%;
}

h3 {
    margin: 0;
}

.box {
	text-align: left;
	width: 25%;	
	font-family: 'Raleway', sans-serif;
	margin-bottom: : -1em;	
}

.website {
	width: 75%;
	text-align: left;
	padding-left: 3%;
	font-family: 'Raleway', sans-serif;
}

.website img {
	height: 15px;
	}
.image {
	margin: 30px auto 0px;
	text-align: center;
}
.image img {
	width: 35%;
	height: 50%;	
	}
.title{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 26px;
	margin-bottom: 1em;
	margin-top: 1em;
}
.description,
.address {
	background-color: lightgrey;
	padding: 3%;
}



#no {
	margin: 15px 0px 0px 110px; 
	font-size: 30px;
}

@media only screen and (max-width: 680px) {
	.main {
	width:100%;
	border-radius: 2px;
	background-color: rgba(252, 252, 233, .5);
	border: 5px solid rgba(144, 41, 72, 1);
    .col-md-2{
    	width: 100%;
    	 }
}